@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700;800&display=swap');

.about{
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

.about-container{
  border-radius: 10px;
  z-index: 1;
  margin-top: 15vh;
  position: absolute;
  height: 88vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-container > header {
  font-family: 'Overpass', sans-serif;
  width: inherit;
  height: 9vh;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container > header > p{
  margin: 0;
}

.about-info{
  width: inherit;
  height: 38vh;
  margin: 0;
  display: flex;
  gap: 20px;
}

.about-info > p {
  font-weight: 700;
  position: static;
  text-align: center;
  font-size: larger;
}

.about-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-title{
  font-family: 'Overpass', sans-serif;
  width: inherit;
  height: 9vh;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.skills-subtitle{
  margin: 0;
} 

.skills-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  height: 10vh;
  height: 45vh;
  padding-bottom: 10px;
}

.skills-logos > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-logo{
  height: 80px;
}

@keyframes react {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.react {
  animation: react 15s linear infinite;
}