@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

/*
GOOGLEAR
COMO RESOLVER LA DESCARGA DE CV
COMO COMPLETAR LA PANTALLA EN SAFARI
*/

.home{
  height: 100vh;
  background-image: url('/src/assets/webb-res.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Contrail One', cursive;
  color:rgb(255, 255, 255);
  z-index: 1;
}

.home-black{
  background-color: rgba(0, 0, 0, 0.78);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
}

.home-title{
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 220px;
  z-index: 4;
  filter: drop-shadow(5px 2px 2px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: title 3s ease;
}

.home-name{
  font-size: 140px;
  margin: 0;
  height: 140px;
}

.home-lastname{
  font-size: 75px;
  height: 75px;
  margin: 0;
}

.home-subtitle{
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  z-index: 4;
  margin-top: 50px;
  filter: drop-shadow(5px 2px 2px #000000);
  animation: subtitle 3s;
}

.home-buttons{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 4;
  margin-top: 170px;
  animation: buttons 3s;
}

.home-cv-btn{
  width: 120px;
  height: 50px;
  background-color: transparent;
  color: white;
  z-index: 4;
  border: 2px solid white;
  border-radius: 12px 0 0 12px;
  font-family: 'Contrail One', cursive;
  font-size: 15px;
  font-weight: lighter;
  transition: 600ms ease-out;
}

.home-cv-btn > a{
  color: white;
  text-decoration: none;
}

.home-cv-btn:hover{
  cursor: pointer;
  background-color: #53451b;
  color: white;
  transition: 400ms ease-in;
  transform: translateY(-5px);
}

.home-am-btn{
  width: 120px;
  height: 50px;
  background-color: transparent;
  color: white;
  z-index: 4;
  border: 2px solid white;
  border-radius: 0 12px 12px 0;
  font-family: 'Contrail One', cursive;
  font-size: 15px;
  font-weight: lighter;
  transition: 600ms ease-out;
}

.home-am-btn > a{
  color: white;
  text-decoration: none;
}

.home-am-btn:hover{
  cursor: pointer;
  background-color: #53451b;
  color: white;
  transition: 400ms ease-in;
  transform: translateY(-5px);
}

.home-links{
  position: absolute;
  z-index: 4;
  margin-top: 610px;
  margin-left: 250px;
  display: flex;
  gap: 6px;
  animation: down-buttons 6s;
}

.home-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 180, 180);
  background-color: transparent;
  border: 1.9px solid rgb(187, 180, 180);
  border-radius: 6px;
  height: 24px;
  width: 24px;
  font-size: 18px;
  transition: 300ms ease;
}

.home-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 180, 180);
  text-decoration: none;
}

.home-link:hover{
  background-color: #53451b;
  cursor: pointer;
  transition: 300ms ease;
}

.home-scroll-down{
  position: absolute;
  z-index: 4;
  margin-top: 530px;
  margin-right: 360px;
  width: 40px;
  transition: 700ms ease;
  animation: down-buttons 6s;
  color: rgb(187, 180, 180);
}

.home-scroll-down:hover{
  cursor: pointer;
  transform: translateY(10px);
  transition: 700ms ease;
}

.home-scroll{
  transform: rotate(-90deg);
  min-width: 80px;
  position: relative;
  margin-bottom: 40px;
}

.bx-mouse{
  position: relative;
  margin-left: 32px;
}

/* ===== KEYFRAMES ===== */

@keyframes title {
  0% {transform: scale(0.5);
      opacity: 0;}
  100% {transform: scale(1.0);
      opacity: 100;}
}

@keyframes subtitle {
  0% {transform: translateY(80px);
      opacity: 0;}
  100% {transform: translateY(0);
      opacity: 100;}
}

@keyframes buttons {
  0% {transform: translateY(80px);
      opacity: 0;}
  100% {transform: translateY(0);
      opacity: 100;}
}

@keyframes down-buttons{
  0%{opacity: 0;}
  100%{opacity: 100;}
}