.contact{
  width: 100vw;
  height: 180vh;
  margin-top: 70px;
}

.contact-header{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  margin-top: 30px;
}

.contact-header > p{
  font-size: 32px;
  font-weight: 900;
  margin: 0;
}

.contact-info{
  font-family: 'Overpass', sans-serif;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text > p{
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  max-width: 90vw;
}

.contact-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 90vw;
  gap: 30px;
  margin-top: 40px;
}

.contact-link{
  width: 80vw;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-link > p{
  margin: 0;
}

.contact-link > .bx {
  font-size: 45px;
}

.contact-link .network{
  font-weight: 900;
}

.contact-link .data{
  font-weight: 400;
  font-size: 1.2rem;
}

.contact-link > a{
  text-decoration: none;
  color: #1f096d;
  font-weight: 900;
  margin-top: 5px;
}

.contact-form-container{
  font-family: 'Overpass', sans-serif;
  margin-top: 10px;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.form-text > p{
  font-size: 22px;
  font-weight: 700;
}

.contact_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_form-div{
  position: relative;
  margin-bottom: 24px;
  height: 65px;
}

.contact_form-input{
  width: 70vw;
  height: 100%;
  border: 2px solid black;
  background: none;
  color: black;
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact_form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: 18px;
  padding: .25rem;
  background-color: white;
  z-index: 2;
}

.contact_form-area{
  height: 11rem;   
}

.contact_form-area textarea{
  resize: none;
}

.button {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  width: 180px;
  left: 10px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  transition: 300ms ease;
}

.button:hover{
  cursor: pointer;
  background: rgb(54, 54, 54);
  border: 1px solid rgb(54, 54, 54);
  color: rgb(216, 215, 214);
  transition: 300ms ease;
}