@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700;800&display=swap');

.work{
  margin-top: 100px;
  font-family: 'Overpass', sans-serif;
  height: 120vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.work-title{
  font-size: 32px;
  font-weight: 900;
  width: 100vw;
  text-align: center;
}

.work-title > p{
  margin: 0;
  margin-top: 20px;
}

.works{
  font-size: 22px;
  max-width: 90vw;
}

.works-text > p{
  margin: 0;
  text-align: center;
}

.works-carousel{
  padding-top: 4vh;
  margin-top: 6vh;
  width: 93vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.199);
}

.works-carousel>a>img{
  margin-right: 1vh;
  width: 30vh;
  height: 25vh;
}